%footer.main-footer
  / To the right
  .pull-right.hidden-xs
    Anything you want
  / Default to the left
  %strong
    Copyright © 2017
    = succeed "." do
      %a{:href => "#"} Propmanager
  All rights reserved.
